<!DOCTYPE html>
<html>
<head>
	<title>Navigation Bar</title>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

   <form action="" method="POST">
	 	<h2>Register</h2>
	 	 <input type="text" name='name' placeholder="enter name"><br><br>
	 	 <input type="email" name='email' placeholder="enter mail"><br><br>
	 	 <input type="password" name='pwd' placeholder="enter password"><br><br><br>
	 	 <input type="submit" value="Register">
	 </form>

</body>
</html>